.search-form {
  display: flex;
  align-items: center;
  max-width: 60em;
  width:68%;
  margin:0 auto;
  margin-bottom: 80px;
}

.select-category{
  border-radius: 8px; /* border-radius 값을 원하는 크기로 조정할 수 있습니다. */
  border: 2px solid blue;
  padding: 8px; /* 선택 영역 주변의 패딩을 원하는 크기로 조정할 수 있습니다. */
  width: 200px; /* 선택 영역의 너비를 원하는 크기로 조정할 수 있습니다. */
	
}

.search-input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  flex: 1;
  box-sizing: border-box;
  width: 35em;
  height: 62px;
  top: 158px;
  background: #FFFFFF;
  border: 1px solid #2463D3;
}

.search-button {
  padding: 8px 12px;
  color: white;
  border: none;
  border-radius: 4px;
  width: 10em;
  height: 62px;
  top: 158px;
  background: #9FC4FF;
  font-size: 16px;
  margin-left: 8px;
  cursor: pointer;
}

.search-label {
  font-size: 40px;
  font-weight: bold;
  margin-right: 8px;
}