@charset "UTF-8";
h2{
	font-size: 28px;
	margin: 8px 0;
}
span{
	margin-right: 16px;
}
#infocontainer{
	display : flex;
	justify-content: space-between;
}
.info{
	display: flex;
	align-items: center;
}
.info>#profile{
	overflow:hidden;
	width: 32px;
	height: 32px;
	margin-right: 4px;
	border-radius: 50%;
	background-color: #9fc4ff;
}
.info>#profile>#profileImage{
	width: 100%;
	height: 100%;
}
.info>span{
	margin-top : 4px;
}
.buttons a{
	font-size:0.8vw;
}
section #contents{
	width: 100%;
	min-height: 540px;
	margin: 16px 0;
	padding: 24px;
	box-sizing: border-box;
	border: 2px solid #2463d3;
}
.likebtn{
	display:block;
	width: 2vw;
	height: 2vw;
	text-indent:-9999px;
	background-image: url("../img/like.png");
	background-size: cover;
	cursor: pointer;
}
.likeon{
	display:block;
	width: 2vw;
	height: 2vw;
	text-indent:-9999px;
	background-size: cover;
	cursor: pointer;
	background-image: url("../img/like_on.png");
}

/*댓글상자*/ 
#comment-box{
	display: flex;
	justify-content:space-between;
	align-items: center;
	margin: 2vw 0 1vw;
}
#content{
	width:94%; 
	margin-right: 1vw;
	padding-top:1vw;
	text-indent: 1vw;
}
.savebutton{
	width: 5%;
	height: 2vw;
	color:#fff;
	border: none;
	background-color: #2463d3;
}
.comments-outerbox{ /*작성된 댓글 보여주는 바깥 상자*/
	width: 64vw;
	height: fit-content;
	padding: 1vw;
	border-bottom: solid 1px #2463d3;
}

.comments-innerbox{ /*작성된 댓글 보여주는 안 상자*/
	height: fit-content;
}

.comments-modify-outerbox{ /*작성된 댓글 보여주는 바깥 상자*/
	width: 64vw;
	height: fit-content;
	padding: 1vw;
	border-bottom: solid 1px #2463d3;
}

.reportbutton{
	color: black; /*글씨색상*/
	font-family: 'LeferiBaseType-RegularA';
	background-color: white;
    border: none;
	width: 3vw;
	text-align: center;
	padding: 0 0.5vw 0 0.5vw;
	font-size: 1.2vw;
}

.deletebutton,
.modifybutton,
.modify_cancelbtn,
.modify_savebtn{
	background:none;
	border:none;
	outline:none;
}