@charset "UTF-8";
h2{
	font-size: 28px;
	margin: 8px 0;
}
span{
	margin-right: 16px;
}
#infocontainer{
	display : flex;
	justify-content: space-between;
}
.info{
	display: flex;
	align-items: center;
}
.info>#profile{
	width: 32px;
	height: 32px;
	margin-right: 4px;
	border-radius: 50%;
	background-color: #9fc4ff;
}
.info>span{
	margin-top : 4px;
}
section #contents{
	width: 100%;
	min-height: 540px;
	margin-top: 16px;
	padding: 24px;
	box-sizing: border-box;
	border: 2px solid #2463d3;
}