@charset "utf-8";

#top5_record #to{
  position:relative;
  display:inline-block;
  width:12%;
  margin-left:2%;
  height:200px;
  padding: 24px;
  background-color: #fff;
  box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
#top5_record h4{
  margin-bottom:0.6vw;
  color: blue;
}
#top5_record span{
  position:absolute;
  bottom:5%;
  right:5%;
}