@charset "UTF-8";

/* main 섹션 내부 스타일링 */
.tr {
	border-bottom: grey;
	border-bottom-style: solid;
	padding: 3px;
	width: 100%;
}

h2,
a {
	width: 100%;
	font-weight: bold;
	/* 굵은체로 설정 */
	font-size: 16px;
	/* 폰트 크기 설정 */
	/* 원하는 스타일 추가 */
}

.tablearea {
	box-shadow: 1px 0px 3px lightgrey;
	/* 수평으로 0px, 수직으로 1px, 흑색(#000000) 그림자 추가 */
}

textarea {
	height: auto;
}

.faqbtn {
	text-align: right;
	padding-right: 16px;
	padding-top: 20px;
}

td {
	padding: 7px;
	text-align: center;
	/*  box-shadow: 1px 0px 3px lightgrey;  수평으로 0px, 수직으로 1px, 흑색(#000000) 그림자 추가 */
}

h5 {
	font-weight: normal;
}

li {
	width: 100%;
	padding: 12px 15px;
	font-size: 16px;
}

/* CSS 스타일시트에 추가 */
.tr_1st {
	height: 10px;
	position: relative;
	/* 상대적인 위치 지정 */
}

.showbtn {
	cursor: pointer;
}

.tr_1st::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: -3px;
	/* 원하는 밑줄의 높이 */
	width: 100%;
	height: 1.5px;
	/* 원하는 밑줄의 두께 */
	background-color: lightgrey;
	/* 밑줄의 색상 */
	opacity: 40%;
}

.td_title {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	width: 90px;
	max-width: 90px;
	text-align: center;
	padding: 2px;
}



.td_contents {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	max-width: 220px;
	text-align: center;
	padding: 2px;
}

.td_writer {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	width: 25px;
	max-width: 25px;
}

.td_writingtime {
	max-width: 100px;
}

.td_writer {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	max-width: 40px;
}

.category-list li a {
	text-decoration: none;
	color: #333;
	font-family: 'LeferiPoint-BlackA';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-BlackA.woff') format('woff');
	font-weight: 100;
	font-style: normal;
	font-size: 14px;

}

.form-group-btns {
	padding: 15px;
	float: right;
}

.form-group-btns :hover {
	cursor: pointer;
}

.right-section-title{
	margin-bottom:2em;
}

.category-list li a:hover {
	color: #777;
}

.right-section {
	margin-right: 10em;
	flex: 3;
	/* 추가 스타일링 */
}

.post-list {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 10px;
	border-top: 1px solid #777;
	border-bottom: 1px solid #777;
	margin: 15px 0;
	height: 4em;
}

.post-number {
	flex-basis: 10%;
	text-align: right;
}

.post-title {
	flex-basis: 70%;
	margin-left: 10px;
	text-align: center;
}

.showbtn {
	font-size: 18px;
	padding-top: 20px;
}

.categories_left {}

.dropdown {
	flex-basis: 30%;
	text-align: right;
	width: 25px;
	height: 25px;
	margin-right: 15px;
}

.dropdown-2 {
	flex-basis: 80%;
	text-align: left;
	width: 35px;
	height: 35px;
	padding: 10px;
	margin-top: 4px;
	margin-left: -10px;
	margin-right: 30px;

}

.expanded-content {
	display: none;
	margin-left: 20px;
}

.expanded-content.show {
	display: block;
}

section {
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
}

.section-container {
	display: flex;
	width: 100%;
}

.left-section {
	margin-left: 17%;
	margin-top: 2%;
	flex: 1;
	/* 추가 스타일링 */
	box-sizing: border-box;
	border-right: solid;
	padding: 12px 40px;

}



.right-section {
	flex: 7;
	width: 100%;
	margin-top: 2%;
	margin-right: 17%;
	/* 추가 스타일링 */
	padding: 12px 40px;
}

.left-section::before {
	content: url(css/left.svg);
	display: block;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	/* 추가 스타일링 */
}

.right-section::before {
	content: url(css/right.svg);
	display: block;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	/* 추가 스타일링 */
}

/* 기본 스타일 */
#adminDiv {
	display: none;
	width: 120px;
	height: 20px;
	background-color: #9FC4FF;
	border-radius: 5px;
	text-align: center;
	line-height: 20px;
	color: white;
	text-decoration: none;
	padding: 3px;
}

#adminDiv a {
	font-size: 14px;
}

/* 마우스를 올렸을 때 스타일 */
#adminDiv:hover {
	background-color: #2463D3;
}

/* a 태그 스타일 */
#adminDiv a {
	text-decoration: none;
	color: white;
}
